.cleaning_full_page, .overview_full_page, .maintenance_full_page, .bus_full_page {
  height: 90vh;
  position: relative;
  display: flex;
  max-width: 100vw;
}

.busmap {
  position: absolute;
  margin-left: 17%;
  margin-top: 2%;
  background-image: url("../Images/plattegrond.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 95%;
  width: 80%;
}

.busmap .grid {
  height: inherit;
  width: 100%;
  height: 100%;
}

.busmap img, .busmap p {
  position: absolute;
  height: 120px;
  width: 70px;
}

.busmap p {
  z-index: 5;
  font-size: 12px;
  font-weight: 1000;
  width: 26px;
  height: fit-content;
  text-align: center;
}

.busmap #left30deg {
  transform: rotate(-30deg);
}

.busmap #right27deg {
  transform: rotate(27deg);
  height: 110px;
}

.busmap #sideways {
  transform: rotate(90deg);
}

.bus_full_page {
  background-color: var(--secondColor);
}

.scanning {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--fontstyle);
  color: white;
  font-weight: 900;
}

.scanning h1 {
  font-size: 50px;
}

.scanning button {
  color: white;
  background-color: #553D67;
  border: none;
  height: 10%;
  width: 20%;
  border-radius: 30px;
  font-size: 24px;
}

.manual {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.manual h1 {
  margin: 0;
  margin-bottom: 15px;
}

.manual input {
  height: 15%;
  border: none;
  padding: 0;
  font-family: var(--fontstyle);
  width: 10%;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.number-container {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  height: 60%;
  width: 40%;
  flex-wrap: wrap;
  justify-content: center;
}

.numberbutton {
  background-color: #F04977;
  margin-left: 2%;
  margin-top: 2%;
  height: 25%;
  width: 25%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  font-weight: 1000;
}

.drivein {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--fontstyle);
}

.drivein h1 {
  margin-top: 7%;
  color: white;
  font-size: 50px;
  font-weight: 900;
}

.drivein button {
  border: none;
}

.drivein #no-problems {
  width: 25%;
  color: white;
  font-weight: 900;
  font-size: 26px;
  border-radius: 30px;
  height: 15%;
  background-color: #F04977;
}

.drivein #problems {
  margin-top: 2%;
  width: 15%;
  height: 10%;
  font-weight: 900;
  border-radius: 30px;
  background-color: #553D67;
  color: white;
  font-size: 20px;
}

.problems {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  margin: auto 0;
  justify-content: space-between;
}

.problems button {
  width: 70%;
  height: 30%;
  background-color: #F04977;
  border: none;
  color: white;
  font-size: 30px;
  font-weight: 900;
  border-radius: 30px;
}

.problems #button-2 {
  background-color: #553D67;
}

.maintenance {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maintenance select, .maintenance textarea {
  width: 60%;
  background-color: #F04977;
  color: white;
  font-weight: 900;
  border-radius: 15px;
  margin-top: 1%;
}

.maintenance select {
  height: 20%;
  font-size: 38px;
}

.maintenance textarea {
  width: 56%;
  border: none;
  padding: 1% 2% 0 2%;
  font-size: 26px;
  height: 50%;
  color: white;
}

.maintenance textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.maintenance button {
  margin-top: 1%;
  width: 25%;
  height: 10%;
  border: none;
  background-color: #553D67;
  color: white;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 900;
}